<h2>チーム一覧</h2>
<div class="main users-index">
  <%= will_paginate %>
  <div class="container">
    <% @users.each do |user| %>
      <div class="users-index-item">
        <div class="user-left">
          <%= image_tag user.image.url  if user.image.present? %>
        </div>
        <div class="user-right">
          <%= link_to user.username, user %>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate %>
</div>
