<div class="about-main">
  <div class="top-message">
   <h2>FreeBaseBallとは？</h2>
   <br>
   <br>
   <p>野球をもっと楽しみたい方々向けのSNSサービスです。</p>
   <p>『FreeBaseBall』では練習試合や合同練習の相手、大会参加者を集うことができます。</p>
  </div>
</div>
