<h2>募集一覧</h2>

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">

        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.username, "/users/#{post.user.id}") %>
            <br>募集日時　’<%= post.day %>’
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
